/__pycache__
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__
/model/modules/mas/build
/model/modules/mas/core.c
/model/modules/mas/core.cp310-win_amd64.pyd
/model/modules/mas/core.cpython-310-x86_64-linux-gnu.so
/test.ipynb
/.ipynb_checkpoints
/*/.ipynb_checkpoints
/*/*/.ipynb_checkpoints
/*/*/*/.ipynb_checkpoints
/*/*/*/*/.ipynb_checkpoints
/data
/lightning_logs
/checkpoints
/venv
/monotonic_align/monotonic_align
/.env
/mlruns
/wandb
/results
/.env
/datasets
/lab.py